*{
    margin: 0;
    padding: 0;
    color: white;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

html {
    // Safe area to show the website upper the notch area (show real full-screen)
    min-height: calc(100% + env(safe-area-inset-top)) !important;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left) !important;
}

body{
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    cursor: pointer;

    .point-result{
        position: fixed;
        top: calc(20vh + 50px);
        z-index: 99;
        left: 50%;
        transform: translateX(-50%);
        transition: .8s;

        &.active{
            top: 40px;
        }
    }
    .combo-extra-point{
        position: fixed;
        top: 200px;
        left: 50%;
        transform: translateX(-50%);
        transition: .3s;
        opacity: 0;

        
        &.active{
            animation: extraPointFlash 1s ease-out;
        }
    }
    .combo-strike{
        font-weight: 800;
        font-size: 54px;
        position: fixed;
        top: 50vh;
        left: 50vw;
        transform: translate(-50%, 15vh);
        transition: .3s;
        opacity: 0;

        &.open{
            transform: translate(-50%, 10vh) scale(1.7) rotate(-10deg);
            opacity: 1;
        }
    }
    .result-area{
        &.disable{
            opacity: 0;
        }
        transition: .4s;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, .8);
        display: flex;
        justify-content: center;

        header{
            margin-top: 20vh;
            position: relative;
            transition: 1s;
            .best{
                display: none;
            }

            &.new{
                .best, .color-shape{
                    display: block;
                }
                .score{
                    display: none;
                }
            }
            .color-shape {
                height: 5px;
                display: none;
                width: 100%;
                margin-top: 5px;
                // colorArray = ["#42c2f1", "#fbda4f","#ab63df","#5fc581"]
                background: linear-gradient(90deg, #42c2f1 0%, #fbda4f 25%, #ab63df 50%, #5fc581 75%, #42c2f1 100%);
                background-size: 200%;
                animation: moveGradient 3s linear infinite;
            }
              
            @keyframes moveGradient {
                0% {
                    background-position: 0% 0%;
                }
                100% {
                    background-position: -200% 0%;
                }
            }
        }
        footer.flash-text{
            position: absolute;
            bottom: 20vh;
            animation: flash 1s infinite ease;
            .mobile-version{
                display: none;
            }
            @media screen and (max-width: 700px) {
                .mobile-version{
                    display: block;
                }
                .desktop-version{
                    display: none;
                }
            }
        }
    }

    #click-event {
        width: 100vw;
        height: 100vh;
        z-index: 2;
        position: fixed;
        top: 0;
        left: 0;
    }
    #pwa-install {
        $image-size: 60px;
        //
        position: fixed;
        top: 30px;
        left: 50%;
        transform: translateX(-50%) translateY(calc(-100% - 35px));
        background-color: white;
        z-index: 2;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        grid-gap: 20px;
        height: $image-size;
        flex-wrap: nowrap;
        overflow: hidden;
        &.display {
            // scroll down animation
            animation: scrollDown .3s ease forwards;
        }
        .pwa-install-action {
            flex: 1;
            justify-content: space-between;
            display: flex;
            flex-direction: column;
        }
        .pwa-install-text > *{
            font-size: 12px;
            color: black;
            text-align: start;

            &.pwa-install-description {
                font-size: 10px;
                color: #999;
            }
        }
        .pwa-install-icon > img {
            width: $image-size;
            border-radius: 5px;
            height: $image-size;
        }
        .pwa-install-button {
            display: flex;
            justify-content: space-between;
            align-items: end;
            button {
                // Minimal design for install button
                border: none;
                background-color: #42c2f1;
                color: white;
                padding: 7px 15px;
                border-radius: 5px;
                cursor: pointer;
                font-size: 10px;
                transition: .3s;
                font-weight: bold;

                &:hover {
                    background-color: #5fc581;
                }
            }
            a {
                visibility: hidden;
                color: rgb(114, 114, 114);
                text-decoration: underline;
                font-size: 10px;
                margin-bottom: 5px;
                &:hover{
                    color:rgb(74, 74, 74);
                }
                &.display {
                    visibility: visible;
                }
            }
        }
    }

    #noti-popup {
        $loader-size: 1px;
        //
        position: fixed;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%) translateY(calc(100% + 35px));
        background-color: rgb(0, 0, 0);
        z-index: 2;
        font-size: 12px;
        border-radius: 5px;
        overflow: hidden;
        padding: 10px;
        padding-bottom: 10px + $loader-size;

        &.display {
            // scroll up animation
            animation: scrollUp 5.1s linear;

            .loader{
                animation: loaderBack 5s linear;
            }
        }

        #noti-pop-text {
            display: block;
        }
        .loader {
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            height: $loader-size;
            background-color: white;
        }
    }

    #pwa-install, #noti-popup {
        width: 100vw;
        max-width: 270px;
    }

    #record-share {
        $gadget-size: 35vw;
        //
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 99;
        border-radius: 5px;
        overflow: hidden;
        background-color: white;
        transition: .5s;
        display: none;
        &.display {
            display: block;
            animation: jumpShaking 0.5s;
        }
        &:hover {
            transform: translate(-50%, -50%) rotate(-5deg) scale(1.1);
        }
        * {
            color: black;
        }
        
        img {
            width: $gadget-size;
            height: $gadget-size;
            min-width: 140px;
            min-height: 140px;
            max-width: 200px;
            max-height: 200px;
            object-fit: cover;
        }
        // Dektop make it smaller
        @media screen and (max-height: 700px) and (min-width: 800px) {
            img {
                width: calc($gadget-size * 0.8);
                height: calc($gadget-size * 0.8);
                max-height: 180px;
                min-width: 180px;
            }    
        }
        // Mobile
        @media (hover: none) or (max-width: 800px) {
            &.display {
                animation: jumpShakingTouch 0.5s forwards;
            }
        }
        small {
            display: block;
            padding: 10px;
            font-size: 10px;
        }
    }
}

@keyframes flash {
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes extraPointFlash {
    60%{
        top: 100px;
        opacity: 1;
    }
    100%{
        top: 90px;
        opacity: 0;
    }
}

@keyframes scrollDown {
    100% {
        transform: translateX(-50%) translateY(0%);
    }
}

@keyframes scrollUp {
    5% {
        transform: translateX(-50%) translateY(0%);
    }
    95% {
        transform: translateX(-50%) translateY(0%);
    }
    100% {
        transform: translateX(-50%) translateY(calc(100% + 35px));
    }
}

@keyframes loaderBack {
    100% {
        width: 0%;
    }
}

@keyframes jumpShaking {
    0% { transform: translate(-50%, -50%) }
    25% { transform: translate(-50%, calc(-50% - 9px)) }
    35% { transform: translate(-50%, calc(-50% - 9px)) rotate(-5deg) }
    55% { transform: translate(-50%, calc(-50% - 9px)) rotate(5deg) }
    65% { transform: translate(-50%, calc(-50% - 9px)) rotate(-5deg) }
    75% { transform: translate(-50%, calc(-50% - 9px)) rotate(5deg) }
    100% { transform: translate(-50%, -50%)}
}
@keyframes jumpShakingTouch {
    0% { transform: translate(-50%, -50%) }
    25% { transform: translate(-50%, calc(-50% - 9px)) }
    35% { transform: translate(-50%, calc(-50% - 9px)) rotate(-5deg) }
    55% { transform: translate(-50%, calc(-50% - 9px)) rotate(5deg) }
    65% { transform: translate(-50%, calc(-50% - 9px)) rotate(-5deg) }
    75% { transform: translate(-50%, calc(-50% - 9px)) rotate(5deg) }
    100% { transform: translate(-50%, -50%) rotate(-5deg) scale(1.1)}
}
