*{
    margin: 0;
    padding: 0;
    color: white;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

body{
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    cursor: pointer;

    .point-result{
        position: fixed;
        top: calc(20vh + 50px);
        z-index: 99;
        left: 50%;
        transform: translateX(-50%);
        transition: .8s;

        &.active{
            top: 40px;
        }
    }
    .combo-extra-point{
        position: fixed;
        top: 200px;
        left: 50%;
        transform: translateX(-50%);
        transition: .3s;
        opacity: 0;

        
        &.active{
            animation: extraPointFlash 1s ease-out;
        }
    }
    .combo-strike{
        font-weight: 800;
        font-size: 54px;
        position: fixed;
        top: 50vh;
        left: 50vw;
        transform: translate(-50%, 15vh);
        transition: .3s;
        opacity: 0;

        &.open{
            transform: translate(-50%, 10vh) scale(1.7) rotate(-10deg);
            opacity: 1;
        }
    }
    .result-area{
        &.disable{
            opacity: 0;
        }
        transition: .4s;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, .8);
        display: flex;
        justify-content: center;

        header{
            margin-top: 20vh;
            position: relative;
            transition: 1s;
            .best{
                display: none;
            }

            &.new{
                .best, .color-shape{
                    display: block;
                }
                .score{
                    display: none;
                }
            }
            .color-shape {
                height: 5px;
                display: none;
                width: 100%;
                margin-top: 5px;
                // colorArray = ["#42c2f1", "#fbda4f","#ab63df","#5fc581"]
                background: linear-gradient(90deg, #42c2f1 0%, #fbda4f 25%, #ab63df 50%, #5fc581 75%, #42c2f1 100%);
                background-size: 200%;
                animation: moveGradient 3s linear infinite;
            }
              
            @keyframes moveGradient {
                0% {
                    background-position: 0% 0%;
                }
                100% {
                    background-position: -200% 0%;
                }
            }
        }
        footer.flash-text{
            position: absolute;
            bottom: 20vh;
            animation: flash 1s infinite ease;
            .mobile-version{
                display: none;
            }
            @media screen and (max-width: 700px) {
                .mobile-version{
                    display: block;
                }
                .desktop-version{
                    display: none;
                }
            }
        }
    }

    #pwa-install {
        $image-size: 60px;
        //
        position: fixed;
        top: 30px;
        left: 50%;
        transform: translateX(-50%) translateY(-100%);
        background-color: white;
        z-index: 999;
        padding: 10px;
        border-radius: 5px;
        display: none;
        justify-content: space-between;
        grid-gap: 20px;
        width: 250px;
        height: $image-size;
        flex-wrap: nowrap;
        overflow: hidden;
        &.display {
            display: flex;
            // scroll down animation
            animation: scrollDown .3s ease forwards;
        }
        .pwa-install-action {
            flex: 1;
            justify-content: space-between;
            display: flex;
            flex-direction: column;
        }
        .pwa-install-text > *{
            font-size: 12px;
            color: black;
            text-align: start;

            &.pwa-install-description {
                font-size: 10px;
                color: #999;
            }
        }
        .pwa-install-icon > img {
            width: $image-size;
            border-radius: 5px;
            height: $image-size;
        }
        .pwa-install-button {
            display: flex;
            justify-content: end;
            button {
                // Minimal design for install button
                border: none;
                background-color: #42c2f1;
                color: white;
                padding: 7px 15px;
                border-radius: 5px;
                cursor: pointer;
                font-size: 10px;
                transition: .3s;
                font-weight: bold;

                &:hover {
                    background-color: #5fc581;
                }
            }
        }
    }
}

@keyframes flash {
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes extraPointFlash {
    60%{
        top: 100px;
        opacity: 1;
    }
    100%{
        top: 90px;
        opacity: 0;
    }
}

@keyframes scrollDown {
    100% {
        transform: translateX(-50%) translateY(0%);
    }
}